.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #86949e;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 40px;
}

.in {
  color: #000;
  align-self: flex-start;
  background-color: #42f5a1;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 6px;
}

.out {
  color: #000;
  align-self: flex-end;
  background-color: blanchedalmond;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 6px;
}

.messages {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 100px;
  margin-bottom: 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.input_content {
  width: 90%;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.input {
  width: 80%;
  height: 100%;
  margin-right: 20px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
}

.button {
  height: 100%;
  width: 100px;
  background-color: deepskyblue;
  border-radius: 6px;
}
