.content {
  background-color: #f1f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
}

.input_id {
  align-self: end;
}

.input_token {
  align-self: end;
}

.input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  padding: 5px 20px;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  border-radius: 60px;
}

.status_content {
}

.error_text {
  color: red;
}

.loading_text {
  color: lightseagreen;
}

.enter_button {
  border: none;
  padding: 12px 35px;
  background-color: #61c554;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  border-radius: 110px;
  font-size: 16px;
}
