.content {
  width: 50%;
  overflow: auto;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  min-height: 72px;
  padding-left: 20px;
  cursor: pointer;
}

.active {
  background-color: #f1f4f6;
  font-weight: 800;
  letter-spacing: 1px;
}

.contact_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
